body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial, sans-serif;
}

.project_name
{   
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 0.5em 1em;
    box-shadow: 5px 5px 10px #C0C0C0;
}

.container
{
    margin-top: 1em;
    padding: 0.5em;
    width: max-content;
}

.branch
{
    float: left;
}

.task
{
    margin: 0;
    padding: 0;
}

.box
{
    width: fit-content;
    margin: auto;
    clear: both;
}

.card
{
    min-width: 10em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    overflow: visible;
}

.line_left
{
    width: 50%;
    height: 1em;
    float: right;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.line_center
{
    height: 1em;
    border-top: 1px solid black;
}

.line_right
{
    width: 50%;
    height: 1em;
    float: left;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.line_bottom
{
    width: 1px;
    background-color: black;
    height: 1em;
    margin: auto;
}

.line_top
{
    width: 1px;
    height: 1em;
    background-color: black;
    margin: auto;
}

.index
{
    padding: 0.25em;
    font-size: 0.8em;
    text-align: center;
    background-color: #E0E0FF;
    border: 1px solid #C0C0C0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.index.canceled
{
    background-color: #F04040;
    color: white;
}

.index.paused
{
    background-color: orange;
    color: white;
}

.index.completed
{
    background-color: #40C040;
    color: white;
}

.leaf_mark
{
    float:left;
    content: "";
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: white;
}

.title
{
    padding: 0.25em;
    font-size: 0.8em;
    background-color: #F5F5FF;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    height: 1.40em;
}

.task_hours
{
    background-color: white;
    border: 1px solid lightblue;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 5px;
    vertical-align: middle;
}

.task_title
{
    margin-left: 0.25em;
    vertical-align: middle;
}

.task_status
{
    padding: 0.25em;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

.task_icon
{
    cursor: default;
    display: table-cell;
    vertical-align: middle;
    color: #404040;
}

.task_weight
{
    display: table-cell;
    min-width: 24px;
    height: 18px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: bold;
}

.task_resource
{
    display: table-cell;
    padding-left: 0.25em;
    font-size: 0.8em;
    vertical-align: middle;
}

.task_meter
{
    position: relative;
    height: 1em;
    background-color: lightgray;
}

.percent_fill
{
    float: left;
    height: 100%;
    background-color: #40F040;
}

.percent
{
    position: absolute;
    display: table-cell;
    width: 100%;
    height: 100%;
    font-size: 0.75em;
    color: black;    
    text-align: center;
}

.toggler
{
    color: #8080FF;
}

.toggler:hover
{
    color: #6060FF;
    cursor: pointer;
}

.ramification
{
    overflow: hidden;
    transition: transform 0.25s;
}

.hidden
{
    transform: scaleX(0);
    transition: transform 0.25s;
}

.squeezed
{
    width: 0;
}

.tooltip 
{
    position: relative;
}
  
.tooltip .tooltiptext 
{
    position: absolute;
    left: -10px;
    visibility: hidden;
    width: max-content;
    background-color: #505050;
    color: white;
    border-radius: 6px;
    padding: 0.25em 0.5em;
    z-index: 1;
    bottom: 125%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after 
  {
    left: 15px;
    content: "";
    position: absolute;
    top: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: #505050 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext 
  {
    visibility: visible;
    opacity: 1;
  }